%li
  .meassage.clearfix
    .message__username
      = message.user.name
    .message__time
      = message.created_at.to_s(:datetime)
  %p.message__content
    = message.content
  .message__image
    = image_tag(message.image, class: 'message-image')
